{% extends 'base.html' %}

{% block title %}Wanda Welcome{% endblock %}

{% block content %}

  <img src="/static/img/wanda.png" height="100" width="90">

  <h3>Be present. Be happy. Wanda is here to help.</h3>

  <div id="description">
    Unlike other animals, humans spend around half of the day thinking about something other than what is going on around at the moment, contemplating events that happened in the past, might happen in the future, or will never happen at all. 

    When our minds wander in this way, we are less happy and perform worse in motor skill activities. 

    Inspired by studies done on mind wandering, Wanda was developed to help you decrease your mind wandering and increase your happiness.
  </div>

  <div id="texting-explanation">
    To get started, simply sign up with your mobile number. Wanda will send you texts throughout the day, reminding you to focus on the present. The text will also include a short survey to track you mind wandering habits and happiness levels.
      
  </div>

  <a href="/login">Log In</a><br>
  <a href="/register">Register</a>

{% endblock %}