{% extends 'base.html' %}

{% block title %}Wanda Welcome{% endblock %}

{% block content %}
<div class="background-image">
  <div class="top-nav">
    <nav class="homepage-wanda-navbar navbar fixed-top navbar-expand-lg">
      <div class="navbar-brand">
        <img src="/static/img/wanda.png" height="50" width="45">
        <span class="wanda">Wanda</span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="preferences-logout">
          <a class="pref-logout" href="/login">Log In</a>
          <a class="pref-logout" href="/register">Register</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="homepage-description mx-auto" style="width:580px">
    <div>
      <h3 class="be-present">Be present. Be happy. Wanda is here to help.</h3>
      <div class="app-description" style="padding-top:20px">
        Unlike other animals, humans spend around half of the day thinking about something other than what is going on around at the moment, contemplating events that happened in the past, might happen in the future, or will never happen at all. 

        When our minds wander in this way, we are less happy and perform worse in motor skill activities. 

        Inspired by a recent study by Harvard psychology professor Daniel Gilbert, Wanda was developed to help you decrease your mind wandering and increase your happiness.
      </div>
    </div>
  </div>
</div>

{% endblock %}