{% extends 'base.html' %}

{% block title %}Wanda Preferences{% endblock %}

{% block content %}
<div class="top-nav">
  <nav class="wanda-navbar navbar fixed-top navbar-expand-lg">
    <div class="navbar-brand">
      <img src="/static/img/wanda.png" height="50" width="45">
      <span class="wanda">Wanda</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="preferences-logout">
        <a href="/" id="link">Home</a>
        <a class="pref-logout" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
</div>

<div class="preferences-table mx-auto" style="width:400px">
  <h3 class="edit-timetable">Edit Timetable</h3>
  <span class="when-receive-text">
    Wanda will send you reminder texts with surveys at random times throughout the day. When would you like to receive Wanda's texts?
  </span>

  <form class="timetable" style="padding-top:20px" action="/preferences" method="POST">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Mon</span>
      </div>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Tue</span>
      </div>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Wed</span>
      </div>
      <br>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Thu</span>
      </div>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Fri</span>
      </div>
      <br>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Sat</span>
      </div>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Sun</span>
      </div>
      <input type="time" class="form-control" name="start-time" value="08:00">
      <input type="time" class="form-control" name="stop-time" value="22:00">
    </div>
    <div class="submit">
      <input class="btn btn-danger" type="submit">
    </div>
  </form>
</div>

{% endblock %}