{% extends 'base.html' %}

{% block title %}Wanda Preferences{% endblock %}

{% block content %}

  <h3>Edit Preferences</h3>

    <form action="/preferences" method="POST">
        <h5>Wanda will send you reminder texts with surveys at random times throughout the day. When would you like to receive Wanda's texts?</h5>

        <div>
          Monday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Tuesday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Wednesday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Thursday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Friday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Saturday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <div>
          Sunday
          <input type="time" name="start_time" value="08:00"> to
          <input type="time" name="stop_time" value="22:00">
        </div>

        <input type="submit">
    </form>

  <script>
    let daysOfWeek = document.querySelector('#day_of_week').value
  </script>

  <div>
    <a href="/" id="link">Back to home</a>
  </div>


{% endblock %}