{% extends 'base.html' %}

{% block title %}{{ fname }}'s Home{% endblock %}

{% block content %}

<div id="navbar">
  <div id="title">{{ fname }}'s Portal</div>
  <div id="link">
    <a href="/preferences">Preferences</a>
    <a href="/logout">Logout</a>
  </div>
</div>
 
<div id="chart-title">Percentage</div>
<svg width="560" height="500" id=svg></svg>

<div id="chart-title">Happiness While Mind Wandering</div>
<svg width="500" height="500" id=svg1></svg>

<div id="chart-title">Happiness While Not Mind Wandering</div>
<svg width="500" height="500" id=svg2></svg>

<script src="/static/js/createPieChart.js"></script>
<script src="/static/js/createMwChart.js"></script>
<script src="/static/js/createNotMwChart.js"></script>

{% endblock %}