#navbar {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between; 
  font: sans-serif;
}

#portal {
  font: 30px sans-serif;
  color: #5A5A66;
}

.preferences-logout a {
  font: sans-serif;
  color: #5A5A66; 
}

.arc text {
  font: 20px sans-serif;
  text-anchor: middle;
}

.bar {
  fill: #C8A2C8;
}

.bar:hover {
  fill: #D8BFD8;
}

.axis--x path {
  display: none;
}

.toolTip {
  position: absolute;
  display: none;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 3px;
  font: 12px sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #896889;
}

/*.navbar {
  position: fixed;
}*/

.navbar-brand {
  color: #2E5266;
}

.nav-link {
  border: none;
  padding: 0;
  background: none;
  font: 14px sans-serif;
  color: #5A5A66;
  display: inline;
}
