/*
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.preferences-logout a {
  font-family: 'Montserrat', sans-serif;
  color: #5A5A66; 
}

.arc text {
  font-family: 'Montserrat', sans-serif;
  text-anchor: middle;
}

.axis--x path {
  display: none;
}

.toolTip {
  position: absolute;
  display: none;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #896889;
}

.wanda {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #2e5266;
  font-weight: bold;
}

.visuals {
  padding-top: 100px;
}

.graphs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.mw-bar {
  fill: #8e9aaf;
}

.mw-bar:hover {
  fill: #b8dbd9;
}

.focusing-bar {
  fill: #b8dbd9;
}

.focusing-bar:hover {
  fill: #8e9aaf;
}

.axis--x path {
  display: none;
}

.toolTip {
  position: absolute;
  display: none;
  height: auto;
  background: none repeat scroll;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #5A5A66;
  background-color: #fff;
}

#trends {
  color: #2E5266;
  font: 30px sans-serif;
}

.nav-link {
  border: none;
  background: none;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #5A5A66;
  display: inline;
  cursor: pointer;
}

.nav-link:focus {
  outline: 0;
}

.navbar {
  background-color: white;
  padding: 0rem, .5rem;
  justify-content: center;
}

.wanda-navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding-right: 5px;
}

.pref-logout {
  padding-left: 10px;
}

.visuals {
  padding-top: 135px;
}

.graphs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
}

#svg {
  margin-left: 20px;
}

.pie-chart-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #5a5a66;
}

.intervals-navbar {
  padding-top: 57px;
}

.welcome-text {
  font-family: 'Montserrat', sans-serif;
  color: #5a5a66;
}

.welcome-text h3 {
  font-family: 'Raleway', sans-serif;
  color: #5a5a66;
}

img {
  vertical-align: top;
}

.form-group {
  padding-top: 50px;
}

.welcome-back {
  padding-top: 130px;
}

.login-message {
  font-family: 'Montserrat', sans-serif;
}

.welcome-back {
  font-family: 'Raleway', sans-serif;
  color: #5a5a66;
}

.btn-danger {
  color: #fff;
  background-color: #2e5266;
  border-color: #2e5266;
  font-family: 'Montserrat', sans-serif;
}

.btn-danger:hover {
  background-color: #8e9aaf;
  border: #8e9aaf;
}

label {
  font-family: 'Montserrat', sans-serif;
}

.homepage-description {
  padding-top: 150px;
}

.register-explaination {
  padding-top: 100px;
}

.be-present {
  font-family: 'Raleway', sans-serif;
  color: #5a5a66;
}

.app-description {
  font-family: 'Montserrat', sans-serif;
  color: #5a5a66;
  padding-top: 20px;
}

.texting-explanation {
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  color: #5a5a66;
}

.graph-titles {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  fill: #5a5a66;
}

.graph-labels {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  fill: #5a5a66;
}

.ticks {
  font-family: 'Montserrat', sans-serif;
}

.tick > text {
  fill: #5a5a66;
}

.domain {
  stroke: #5a5a66;
}

#focus-pie-info {
  font-family: 'Montserrat', sans-serif;
  fill: #B8DBD9;
}

#mw-pie-info {
  font-family: 'Montserrat', sans-serif;
  fill: #8E9AAF;
}