/*homepage*/
body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #5a5a66;;
}

.background-image {
  background-image: url("mountain.opaque.jpg");
  background-size: cover;
  height: 100%;
}

.homepage-description {
  padding-top: 200px;
}

.be-present {
  font-family: 'Raleway', sans-serif;
  color: #2E5266;
}

/*login*/
.welcome-back {
  font-family: 'Raleway', sans-serif;
  color: #2E5266;
  padding-top: 130px;
}

.btn-danger {
  color: #fff;
  background-color: #2e5266;
  border-color: #2e5266;
  font-family: 'Montserrat', sans-serif;
}

.btn-danger:hover {
  background-color: #8e9aaf;
  border: #8e9aaf;
}

/*register*/
.register-explaination {
  padding-top: 100px;
}

.form-group {
  padding-top: 20px;
}

/*preferences*/
.preferences-table {
  padding-top: 100px;
}

.edit-timetable {
  font-family: 'Raleway', sans-serif;
  color: #2E5266;
}

.submit {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*navbar*/
.wanda {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #2e5266;
  font-weight: bold;
}

.preferences-logout a {
  color: #5A5A66; 
}

.pref-logout {
  padding-left: 10px;
}

.nav-link {
  border: none;
  background: none;
  padding: 0;
  display: inline;
  cursor: pointer;
  color: #5a5a66;
  outline: 0;
}

.navbar {
  padding: 0rem, .5rem;
  justify-content: center;
}

.wanda-navbar {
  background-color: white;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

img {
  vertical-align: top;
}

.intervals-navbar {
  background-color: white;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-top: 57px;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding-right: 5px;
}

/*pie chart*/
.welcome-text h3 {
  font-family: 'Raleway', sans-serif;
  color: #2E5266;
}

.arc text {
  text-anchor: middle;
}

#svg {
  margin-left: 20px;
}

.pie-chart-text {
  font-style: italic;
}

#focus-pie-info {
  font-family: 'Montserrat', sans-serif;
  fill: #B8DBD9;
}

#mw-pie-info {
  font-family: 'Montserrat', sans-serif;
  fill: #8E9AAF;
}

/*graphs*/
.axis--x path {
  display: none;
}

.graphs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mw-bar {
  fill: #8e9aaf;
}

.mw-bar:hover {
  fill: #b8dbd9;
}

.focusing-bar {
  fill: #b8dbd9;
}

.focusing-bar:hover {
  fill: #8e9aaf;
}

.toolTip {
  position: absolute;
  display: none;
  height: auto;
  background: none repeat scroll;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #5A5A66;
  background-color: #fff;
}

.graph-titles {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  fill: #2E5266;
}

.graph-labels {
  font-size: 12px;
  fill: #5a5a66;
}

.ticks {
  font-family: 'Montserrat', sans-serif;
}

.tick > text {
  fill: #5a5a66;
}

.domain {
  stroke: #5a5a66;
}

.container {
  display: flex;
  justify-content: space-around;
}