{% extends 'base.html' %}

{% block title %}Welcome back!{% endblock %}

{% block content %}

  <h3>Temp. Pic of Wanda here.</h3>

  <form action="/login" method="POST">

    <div class="form-group">
        <label>
            Email
            <input type="email" name="email" class="form-control">
        </label>
      </div>

      <div class="form-group">
        <label>
          Password
          <input type="password" name="password" class="form-control">
        </label>
      </div>

      <div class="form-group">
        <input type="submit" value="Log In" class="btn btn-danger">
      </div>

  </form>

  <a href="/register">Register</a>


{% endblock %}